@import "dropdown.css";
@import "image-slider.css";


/* -- All Basic Styles Of Theme -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: #27b0ff;
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 15px;
    color: #282b30;
    line-height: 1.8;
}

p:last-child {
    margin-bottom: 0;
}

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #353638;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    font-weight: 600;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
    border-radius: 0;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #e4be1a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

blockquote {
    border-left: 4px solid #1e4b8e;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #1e4b8e;
    opacity: .2;
}

blockquote p {
    font-style: italic;
    color: #1e4b8e;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}

/* -- Content Styles -- */

#content {
    padding: 48px 0;
}

.home #content {
    padding: 0;
}

/* -- Headings Styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* -- Added Other Created Styles  -- */

.col-count-2 {
    column-count: 2;
}

.col-right {
    order: -1;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.ln-height-0 {
    line-height: 0;
}

.btn-uni {
    background-color: #c3a165;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 24px;
}

.required {
    color: #ed1b2e;
}

.bold-3 {
    font-weight: 300;
}

.bold-4 {
    font-weight: 400;
}

.bold-5 {
    font-weight: 500;
}

.bold-6 {
    font-weight: 600;
}

.bold-7 {
    font-weight: 700;
}

.bold-8 {
    font-weight: 800;
}

.bold-9 {
    font-weight: 900;
}

.clr-gold {
    color: #c3a165;
}

.clr-black {
    color: #1e1e1e;
}

.clr-white {
    color: #ffffff;
}

.bg-clr-gld {
    background-color: #c3a165;
}

.brd-round {
    border-radius: 100%;
}

.card {
    border-radius: 0;
}

/* -- Container Styles -- */

.container {
    max-width: 1200px;
}

.navbar-expand-lg>.container,
.navbar-expand-lg>.container-fluid {
    padding: 0 15px;
}


/* -- Main Navigation Styles -- */

.main-navigation {
    position: fixed;
    width: 100%;
    padding: 55px 0 35px;
    background-color: transparent;
    transition: all 0.3s;
    z-index: 9;
}

.main-navigation.fixed {
    top: -70px;
    padding: 15px 0;
    transform: translate3d(0, 70px, 0);
    background-color: #222328;
}

.main-navigation .container {
    max-width: 1730px;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.nav-search .navbar-nav {
    margin: auto;
}

.main-navigation .menu-item {
    margin: 0 23px;
}

.main-navigation .menu-item:last-child {
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 0;
    letter-spacing: 1px;
}

.navbar-expand-lg .current-menu-item .nav-link {
    color: #c3a165;
}

/* -- Section Styles -- */

section {
    padding: 100px 0;
}

.section-heading {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
}

section .sub-heading {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

section p {
    font-family: 'Poppins', sans-serif;
    color: #969696;
}

/* -- Sction About Styles -- */

.section-about .container {
    max-width: 950px;
}

.section-about .column-right {
    display: flex;
    flex-wrap: wrap;
}

.section-about figure {
    margin-bottom: 60px;
}

.section-about .column-right figure {
    margin: 60px 0 0;
}

.section-about .description {
    padding-left: 100px;
    margin: 28px 0 0 0;
    position: relative;
}

.section-about .description:before {
    content: '';
    width: 77px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 15px;
    background-color: #c3a165;
}

.section-about .more_link {
    height: 30px;
    width: 30px;
    line-height: 28px;
    display: block;
    text-align: center;
}

/* -- Section Testimonial Styles -- */

.section-testimonial {
    box-shadow: 0 0 40px rgba(27, 27, 41, 0.1);
}

.section-testimonial .section-heading {
    position: relative;
}

.section-testimonial .section-heading:before {
    content: '';
    background-image: url("../../assets/images/left-quote.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 107px;
    width: 153px;
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: -9;
}

.section-testimonial .sub-heading {
    position: relative;
    padding-top: 15px;
}

.section-testimonial .sub-heading:before {
    content: '';
    width: 1px;
    height: 50px;
    background-color: #c3a165;
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/* -- Testimonial Slider styles -- */

.slick-list {
    overflow: hidden;
    max-width: 870px;
    margin: 0 auto;
}

.slick-slide {
    float: left;
    z-index: 0 !important;
}

.slick-arrow {
    display: none !important;
}

.rev-slide {
    margin-top: 52px;
}

.rev-slide img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
}

.rev-slide p {
    font-size: 22px;
    font-weight: 300;
    margin: 28px 0 0;
}

.rev-slide .client-name {
    font-size: 16px;
    text-transform: uppercase;
    color: #1e1e1e;
    margin: 26px 0 0;
}

.client-name span {
    font-weight: 400;
    color: #b6b6b6;
    text-transform: none;
    display: block;
    margin-top: 10px;
}

.slick-dots {
    margin: 10px 0 0;
}

.slick-dots li {
    font-size: 0;
    display: inline-block;
    margin-right: 7px;
}

.slick-dots button {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.slick-dots .slick-active button {
    background-color: #c3a165;
    border-color: #c3a165;
}