@import "dropdown.css";
@import "image-slider.css";


/* -- All Basic Styles Of Theme -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: #27b0ff;
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:focus,
a:active,
.slick-arrow:active,
.slick-arrow:focus,
body.search-no-results input:active,
body.search-no-results input:focus {
    outline: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #969696;
    line-height: 1.8;
}

p:last-child,
#services .row-wrap:last-child,
#contact .address li:last-child {
    margin-bottom: 0;
}

figure,
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

iframe {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #353638;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #212121;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    font-weight: 600;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
    border-radius: 0;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #c3a165;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    height: 170px;
}

select {
    padding-left: 8px;
}

blockquote {
    border-left: 4px solid #c3a165;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #c3a165;
    opacity: .2;
}

blockquote p {
    font-size: 16px !important;
    color: #c3a165;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}

/* -- Content Styles -- */

#content {
    padding: 48px 0;
}

.home #content {
    padding: 0;
}

/* -- Headings Styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* -- Added Other Created Styles  -- */

.dir-rtl {
    direction: rtl;
}

.col-count-2 {
    column-count: 2;
}

.col-right {
    order: -1;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.ln-height-0 {
    line-height: 0;
}

.btn-uni {
    background-color: #c3a165;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
}

.required {
    color: #ed1b2e;
}

.bold-3 {
    font-weight: 300;
}

.bold-4 {
    font-weight: 400;
}

.bold-5 {
    font-weight: 500;
}

.bold-6 {
    font-weight: 600;
}

.bold-7 {
    font-weight: 700;
}

.bold-8 {
    font-weight: 800;
}

.bold-9 {
    font-weight: 900;
}

.clr-gold {
    color: #c3a165;
}

.clr-black {
    color: #1e1e1e;
}

.clr-white {
    color: #ffffff;
}

.bg-clr-gld {
    background-color: #c3a165;
}

.bg-clr-white {
    background-color: #ffffff;
}

.brd-round {
    border-radius: 100%;
}

.card {
    border-radius: 0;
}

.box-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.section-about figure figcaption,
.section-testimonial .section-heading:before,
.section-testimonial .sub-heading:before,
.section-instagram .sub-heading:before,
.protfolio-gallery figcaption,
.product-wrap .add_cart {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* -- Container Styles -- */

.container {
    max-width: 1200px;
}

.navbar-expand-lg>.container,
.navbar-expand-lg>.container-fluid {
    padding: 0 15px;
}

/* -- Hover Styles -- */

body.search .list-item a:hover,
.navbar-brand:hover,
.navbar-expand-lg .navbar-nav .nav-link:hover,
.home .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #c3a165;
}

.slide_caption .btn-uni:hover {
    background-color: #c3a165;
    color: #ffffff;
}


/* -- Main Navigation Styles -- */

.main-navigation {
    max-width: 1920px;
    padding: 55px 0 35px;
    background-color: transparent;
    transition: all 0.3s;
    z-index: 9;
}

.home .main-navigation {
    position: fixed;
    width: 100%;
}

.main-navigation.fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    padding: 15px 0;
    transform: translate3d(0, 70px, 0);
    background-color: #ffffff;
    box-shadow: 0px 13px 35px -12px rgba(0, 0, 0, 0.15);
}

.home .main-navigation.fixed {
    background-color: #222328;
}

.main-navigation .container {
    max-width: 1730px;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 600;
    color: #252525;
    margin: 0;
    padding: 0;
}

.home .navbar-expand-lg .navbar-nav .nav-link,
.home .navbar-brand {
    color: #ffffff;
}

.nav-search .navbar-nav {
    margin: auto;
}

.main-navigation .menu-item {
    padding: 10px 23px;
    display: flex;
    align-items: center;
}

.main-navigation .menu-item:last-child {
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    color: #252525;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 1px;
}

.navbar-expand-lg .current-menu-item .nav-link,
.home .navbar-expand-lg .current-menu-item .nav-link {
    color: #c3a165;
}

/* -- Navbar Cart And Search Styles -- */

.shopping-wrap {
    display: flex;
}

.nav-feature {
    margin-right: 25px;
}

.nav-feature:last-child,
.social-nav .menu-item:last-child,
#footer .social-nav .menu-item:last-child {
    margin: 0;
}

.shopping-cart:before,
.btn-search:before,
.search-icon:before {
    content: '';
    background-image: url("../../assets/images/shopping-bag.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    cursor: pointer;
}

.home .shopping-cart:before {
    background-image: url("../../assets/images/shopping-bag-white.png");
}

.shop-cart .cart-link {
    display: flex;
    position: relative;
}

.edd-cart-quantity {
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 100%;
    background-color: #33dd47;
    color: #ffffff;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.btn-search {
    display: inline-block;
}

.btn-search:before {
    background-image: url("../../assets/images/search.png");
    height: 24px;
    width: 24px;
}

.home .btn-search:before {
    background-image: url("../../assets/images/search-white.png");
}

.search_form {
    position: relative;
    display: flex;
}

.search_form .form {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 38px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
    animation: fadeInSide .2s ease-in;
}

.search_form.show .form {
    display: block;
}

.search_form label {
    display: none;
}

.search_form .input-group {
    position: relative;
    height: 55px;
    width: 280px;
    max-width: 100%;
    padding: 5px;
}

.search_form .form-control {
    font-size: 14px;
    color: #969696;
    border: 1px solid #ececec;
    border-radius: 0;
    padding: 0 56px 0 10px;
}

.search_form .form-control:focus {
    background-color: transparent;
    box-shadow: none;
}

.search_form .input-group-wrap {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 9;
    overflow: hidden;
}

.search_form .submit {
    height: 100%;
    padding: 15px;
    cursor: pointer;
}

.search-icon:before {
    background-image: url("../../assets/images/search-btn.png");
    height: 16px;
    width: 16px;
}


/* -- Section Styles -- */

section {
    padding: 100px 0;
}

.section-heading {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
}

section .sub-heading {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* -- Sction About Styles -- */

.section-about .container {
    max-width: 950px;
}

.section-about .column-right {
    display: flex;
    flex-wrap: wrap;
}

.section-about figure {
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    background-color: #0d0d0d;
}

.section-about figure figcaption {
    margin: 0;
    opacity: 0;
    top: 40%;
    bottom: unset;
    left: 30px;
    right: 30px;
    max-width: 250px;
    text-align: right;
    border-right: 2px solid #ffffff;
    padding: 0 25px 0 0;
    transform: translateX(-50%);
    transition: all .4s ease-in-out;
}

.section-about figure:hover figcaption {
    opacity: 1;
    transform: translateX(0);
}

.protfolio-gallery figure img,
.section-about figure img {
    transition: all 0.35s ease-in-out;
    transform: scale3d(1.05, 1.05, 1);
}

.protfolio-gallery figure:hover img,
.section-about figure:hover img {
    opacity: .2;
    transform: scale3D(1, 1, 1);
}

.section-about figure figcaption p {
    color: #ffffff;
}

.section-about .column-right figure {
    margin: 60px 0 0;
}

.section-about .description {
    padding-left: 100px;
    margin: 28px 0 0 0;
    position: relative;
}

.section-about .description:before {
    content: '';
    width: 77px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 15px;
    background-color: #c3a165;
}

.section-about .more_link {
    height: 34px;
    width: 34px;
    line-height: 32px;
    display: block;
    text-align: center;
    position: relative;
}

.section-about .more_link:before {
    content: '';
    border: 1px solid #c3a165;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    border-radius: 100%;
    transition: .3s;
}

.section-about .more_link:hover:before {
    border-color: #ffffff;
}

/* -- Section Testimonial Styles -- */

.section-testimonial {
    box-shadow: 0 0 40px rgba(27, 27, 41, 0.1);
}

.section-testimonial .section-heading {
    position: relative;
}

.section-testimonial .section-heading:before {
    content: '';
    background-image: url("../../assets/images/left-quote.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 107px;
    width: 153px;
    top: -10px;
    margin: 0 auto;
    z-index: -9;
}

.section-testimonial .sub-heading,
.section-instagram .sub-heading {
    position: relative;
    padding-top: 15px;
}

.section-testimonial .sub-heading:before,
.section-instagram .sub-heading:before {
    content: '';
    width: 1px;
    height: 50px;
    background-color: #c3a165;
    bottom: 100%;
    top: unset;
    margin: 0 auto;
}

/* -- Testimonial And Related Items Slider styles -- */

.slick-list {
    overflow: hidden;
}

.reviewslide .slick-list {
    max-width: 870px;
    margin: 0 auto;
}

.slick-slide {
    float: left;
    z-index: 0 !important;
}

.slick-arrow {
    position: absolute;
    top: 0;
    right: 15px;
    height: 30px;
    width: 30px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0;
    cursor: pointer;
}

.slick-prev {
    margin: 0 40px 0 0;
}

.slick-arrow:before {
    font-family: 'Font Awesome\ 5 Free';
    font-size: 11px;
    font-weight: 900;
    content: "\f054";
}

.slick-prev:before {
    content: "\f053";
}

.rev-slide {
    margin-top: 52px;
}

.rev-slide img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
}

.rev-slide p {
    font-size: 22px;
    font-weight: 300;
    margin: 28px 0 0;
}

.rev-slide .client-name {
    font-size: 16px;
    text-transform: uppercase;
    color: #1e1e1e;
    margin: 26px 0 0;
}

.client-name span {
    font-weight: 400;
    color: #b6b6b6;
    text-transform: none;
    display: block;
    margin-top: 10px;
}

.slick-dots {
    margin: 10px 0 0;
}

.slick-dots li {
    font-size: 0;
    display: inline-block;
    margin-right: 7px;
}

.slick-dots button {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.slick-dots .slick-active button {
    background-color: #c3a165;
    border-color: #c3a165;
}

.related-slider {
    padding: 52px 0 0;
}

.relslider {
    position: relative;
    margin: 0 -15px;
}

.relslider .slick-list {
    padding-top: 50px;
}

.rel-slide {
    padding: 0 15px;
}

.single-download .slick-slide .edd_download_purchase_form {
    margin: 0;
}

/* -- Section Instagram Styles -- */

.insta-content {
    margin: 52px 0 0;
    overflow: hidden;
}

#sb_instagram #sbi_load {
    margin: 32px 0 0;
}

#sb_instagram .sb_instagram_header {
    display: none;
}

#sb_instagram #sbi_load .sbi_load_btn,
#sb_instagram .sbi_follow_btn a {
    border-radius: 0;
}

/* -- Blog Page Styles -- */

.page-content {
    background-image: url("../../assets/images/blog-banner-bg.jpg");
    padding: 82px 0;
}

.page-content .container {
    text-align: center;
}

.header-heading {
    font-size: 72px;
    font-weight: 800;
    margin: auto;
}

.total-count {
    font-size: 72px;
    font-weight: 700;
    color: #dddddd;
}

.post-preview {
    margin-bottom: 65px;
}

.post-preview figure {
    margin: 0;
}

.content-wrap {
    padding: 40px;
}

.entry-meta span,
.entry-meta a {
    font-size: 15px;
    font-weight: 400;
    color: #c5c3c3;
    text-transform: uppercase;
}

.entry-meta span:after {
    content: '\002F';
    margin: 0 4px 0 8px;
}

.entry-meta span:last-child:after {
    display: none;
}

.entry-title {
    margin: 14px 0 0;
    line-height: 1.3;
}

.entry-title,
.entry-title a {
    font-size: 28px;
    color: #242424;
}

.entry-summary,
.entry-content {
    margin-top: 20px;
}

.entry-summary p,
.entry-content p {
    font-size: 15px;
}

.entry-footer {
    font-size: 15px;
    color: #959595;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    margin-top: 45px;
    padding: 22px 0;
    text-transform: uppercase;
}

.entry-footer span {
    margin-bottom: 10px;
}

.entry-footer span:last-child {
    margin: 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
    display: block;
}

.entry-footer .cata {
    font-weight: 700;
    color: #242424;
    margin: 0 7px 0 0;
}

.entry-footer a {
    font-weight: 400;
    text-transform: capitalize;
    color: #959595;
}

.entry-summary .more-link .screen-reader-text {
    display: none;
}

.entry-summary .more-link,
input[type="submit"],
#edd-purchase-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #282828;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 25px;
    line-height: 1;
    display: inline-block;
    margin-top: 15px;
}

/* -- Single Page Styles -- */

.single-post .navigation {
    border-top: 1px solid #eeeeee;
    padding-top: 32px;
    margin-top: 48px;
}

.nav_direction {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.single-post .navigation .column {
    width: 50%;
    padding: 0 15px;
    display: flex;
    overflow: hidden;
}

.single-post .navigation .column figure {
    height: 60px;
    margin: 0 20px 0 0;
}

.single-post .navigation .column img {
    width: 60px;
    height: 60px;
    max-width: 60px;
    transition: all 0.3s;
}

.single-post .navigation .column:hover img {
    transform: scale(1.1);
}

.single-post .navigation span {
    font-weight: 300;
    color: #777777;
}

.single-post .navigation .column h4 {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin: 15px 0 0;
}

.single-post .next_post {
    text-align: right;
    margin-left: auto;
}

.single-post .next_post .next_title {
    margin-left: auto;
}

.single-post .navigation .next_post figure {
    margin: 0 0 0 20px;
}

/* -- Post Navigation -- */

.posts-navigation .screen-reader-text,
.pagination .screen-reader-text {
    display: none;
}

.posts-navigation .nav-links {
    display: flex;
    flex-wrap: wrap;
}

.posts-navigation .nav-previous,
.posts-navigation .nav-next {
    line-height: 3;
}

.posts-navigation .nav-previous {
    margin-right: auto;
}

/* -- Navigation Pagination Styles -- */

.pagination,
.comment_pagination {
    margin-top: 32px;
    line-height: 2;
    overflow: hidden;
}


#comments .page-numbers,
.nav-links .page-numbers,
.page-links,
.page-links a {
    font-size: 16px;
    color: #cccccc;
    padding: 2px;
    margin: 0 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

span.page-numbers:first-child {
    margin-left: 0 !important;
}

span.page-numbers:hover {
    border-bottom: 2px solid #333333;
}

span.page-numbers.current {
    padding: 4px 7px;
    border: none;
    color: #1e1e1e;
}

.nav-links .page-numbers.next,
.nav-links .page-numbers.prev {
    position: relative;
}

.nav-links .page-numbers.next:before,
.nav-links .page-numbers.prev:before {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: -65px;
    background-color: #c3a165;
}

.nav-links .page-numbers.prev:before {
    right: unset;
    left: -65px;
}

/* -- Comment Form Styles -- */

#comments,
#respond {
    background: #ffffff;
    padding: 20px;
    margin: 32px 0 0;
}

.comments-title,
#reply-title {
    color: #31396b;
    font-size: 24px;
}

#main .comment article {
    margin: 0;
}

#comments .comment-list {
    margin-top: 32px;
    padding: 0;
    list-style-type: none;
}

#comments .comment-list .children {
    padding-left: 26px;
}

#comments li {
    padding: 20px 0;
    margin-top: 20px;
}

#comments li:last-child {
    padding-bottom: 0;
}

.comment-author {
    display: flex;
    flex-wrap: wrap;
}

.comment-meta figure {
    padding-right: 15px;
}

.comment-meta figure img {
    width: 55px;
}

.comment-metadata {
    width: 88%;
}

.comment-metadata .fn,
.comment-metadata .fn a {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    text-transform: capitalize;
    display: block;
}

.comment-metadata .date {
    font-size: 13px;
    font-weight: 300;
}

.comment-metadata .comment-details {
    margin: 5px 0 20px;
}

.comment-awaiting-moderation {
    font-style: normal;
    margin: 10px 0 !important;
    display: block;
}

#comments .reply {
    margin-left: auto;
}

#comments .reply a,
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #eeeeee;
    text-transform: uppercase;
    padding: 6px 16px;
    display: block;
}

.comment-notes {
    margin-bottom: 32px;
}

#commentform .required {
    color: #dd1e26;
}

.comment-form-comment {
    margin-bottom: 26px;
}

.comment-form-author,
.comment-form-email {
    width: calc(50% - 10px);
    display: inline-block;
    margin: 0 0 26px;
}

.no-sidebar .comment-form-author,
.no-sidebar .comment-form-email {
    width: calc(50% - 14px);
}

.comment-form-email {
    margin-left: 2%;
}

.comment-form-url {
    width: 48%;
    margin-bottom: 26px;
}

#commentform .comment-form-cookies-consent {
    display: flex;
    margin: 32px 0;
}

#commentform .comment-form-cookies-consent input {
    width: 20px;
    margin: auto 0;
}

#commentform .comment-form-cookies-consent label {
    font-weight: 300;
    color: #777777;
    margin: auto 0 auto 5px;
}

#cancel-comment-reply-link {
    display: inline-block;
    padding: 10px 25px;
    margin-left: 10px;
    background: #4460af;
    color: #ffffff;
}

#comments .page-numbers {
    font-size: 12px;
    margin-right: 5px;
}

#comments .page-numbers.current {
    padding: 4px 7px;
}

/* -- Sidebar Styles -- */

#sidebar section {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 0 48px;
}

#sidebar section:last-child {
    margin: 0;
}

#sidebar .sidebar {
    background: #ffffff;
    padding: 20px;
}

.widget-title {
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section.widget p {
    color: #020407;
}

.widget ul {
    margin: 0;
}

.widget ul ul {
    padding-left: 8px;
}

.widget li {
    font-size: 15px;
    font-weight: 500;
    color: #020407;
    border-bottom: 1px solid #e4e7eb;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.widget li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.widget li a {
    color: #020407;
    padding: 0;
}

.widget li .post-date,
.widget li .comment-author-link {
    font-size: 13px;
    color: #505061;
    text-transform: capitalize;
    display: block;
    margin: 8px 0;
}

.widget_archive li,
.widget_archive li:last-child,
.widget_categories li,
.widget_categories li:last-child,
.widget_tag_cloud a {
    font-size: 13px;
    display: inline-block;
    border: 1px solid #e4e7eb;
    padding: 8px 12px;
}

.widget .menu-item-has-children:after {
    display: none;
}

.widget_search .form-title {
    display: none;
}

.widget_tag_cloud a {
    font-size: 13px !important;
    margin-bottom: 4px;
}

/* -- Services Page Template Style -- */

.page-template-page-services #content {
    background-color: #f8f8f8;
}

#services .sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(30, 30, 30, 0.8);
    max-width: 870px;
    margin: 0 auto 85px;
    line-height: 1.7;
}

#services .row-wrap {
    margin-bottom: 120px;
}

#services .row {
    align-items: center;
}

#services .column {
    padding: 0 15px;
}

#services .col-image {
    width: 45%;
    padding-right: 0;
}

#services .col-image.col-left {
    padding: 0 15px 0 0;
}

#services .col-text {
    width: 55%;
    padding-left: 0;
}

#services .col-text.col-right {
    padding: 0 0 0 15px;
}

#services figure {
    margin: 0;
}

#services .col-content {
    padding: 15px 15px 15px 80px;
}

#services .col-right .col-content {
    padding: 15px 80px 15px 15px;
}

.sn_number {
    font-size: 100px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.13);
    line-height: 1;
    display: block;
}

#services .col-content h3 {
    font-size: 36px;
    margin: 10px 0 20px 0;
}

#services .col-content p {
    font-size: 15px;
}

#services .more_link {
    font-size: 13px;
    color: #1e1e1e;
    position: relative;
    display: inline-block;
    line-height: 2.3;
}

#services .more_link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1e1e1e;
    left: 0;
    bottom: 0;
}

/* -- Protfolio Page Template Styles -- */

.page-template #content {
    padding: 120px 0;
}

.filter-wrap {
    margin-bottom: 46px;
}

.filter {
    font-size: 12px;
    font-weight: 700;
    color: #9fa3a7;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 8px 18px;
    letter-spacing: 1.8px;
    cursor: pointer;
}

.filter:focus {
    outline: none;
}

.filter.active {
    border-color: #c3a165;
    color: #242424;
}

.protfolio-gallery {
    margin: 0 -15px;
    column-count: 3;
    column-gap: 0;
}

.protfolio-gallery li {
    width: 100%;
    padding: 0 15px;
}

.protfolio-gallery figure {
    margin: 18px 0 0;
    position: relative;
    background: linear-gradient(-45deg, #c3a165 0%, #2c3a6f 100%);
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    transition: .35s;
}

.protfolio-gallery figure:hover {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
}

.protfolio-gallery figcaption {
    padding: 30px;
    margin: 0;
    text-align: left;
}

.protfolio-gallery figure:hover img {
    opacity: .6;
}

.protfolio-gallery figcaption h3 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0;
    transition: .3s;
}

.protfolio-gallery figure:hover h3 {
    opacity: 1;
}

/* -- Image Pop Up Styles On Portfolio -- */

.imageapear {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .89);
}

.thumbnail-pop {
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.imageapear figure {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.imageapear .fa-times {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}

.imageapear .fa-times:hover {
    color: #c3a165;
}

.imageapear figure img {
    transform: scale(.8);
    transition: .3s ease-in-out;
}

.imageapear figure img.show {
    transform: scale(1);
}

/* -- Contact Page Template Styles -- */

.page-heading {
    font-size: 36px;
    margin-bottom: 32px;
}

.page-sub-heading {
    font-size: 18px;
}

#contact .address {
    margin: 0;
}

#contact .address li {
    margin-bottom: 32px;
}

#contact address {
    margin-bottom: 36px;
}

#contact .address span {
    font-size: 12px;
    color: #9fa3a7;
    display: block;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

#contact address h5 {
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
}

#contact .description {
    font-size: 15px;
}

#contact .social-nav {
    margin-top: 52px;
}

#contact .social-nav a[href]:before {
    font-size: 15px;
    color: #cccccc;
}

.contact-form {
    margin-top: 125px;
}

.contact-form .wpcf7 {
    margin-top: 50px;
}

.contact-form p {
    font-family: 'Montserrat', sans-serif;
}

.contact-form .inline {
    display: inline-block;
    width: calc(32% - 8px);
    margin-right: 30px;
}

.contact-form .inline:nth-child(4) {
    margin-right: 0;
}

.contact-form input,
.contact-form textarea,
#edd_checkout_form_wrap input[type=email],
#edd_checkout_form_wrap input[type=password],
#edd_checkout_form_wrap input[type=tel],
#edd_checkout_form_wrap input[type=text] {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(30, 30, 30, 0.07);
    padding: 12px 0;
    margin-bottom: 36px;
}

.contact-form input[type="submit"] {
    padding: 15px 25px;
    margin: 0;
    cursor: pointer;
}

/* -- Shop Page TemplateStyles -- */

.page-template-page-shop .column {
    margin-bottom: 30px;
}

.add_cart form {
    width: 100%;
}

.product-wrap figure {
    position: relative;
    margin: 0 0 30px;
}

.product-wrap img {
    transition: all .4s ease-in-out;
}

.product-wrap:hover img {
    opacity: .1;
}

.product-wrap .add_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.product-wrap:hover .add_cart {
    opacity: 1;
}

.edd_purchase_submit_wrapper a,
.edd-cart-added-alert {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    text-transform: uppercase;
    white-space: nowrap;
}

.page-template-page-shop .edd_purchase_submit_wrapper a.edd-add-to-cart:before,
.slick-slider .edd_purchase_submit_wrapper a.edd-add-to-cart:before {
    content: '+';
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #1a1a1a;
    display: block;
}

.product-heading,
.product-heading a {
    font-size: 18px;
    color: #242424;
    line-height: 1.5;
    margin: 0;
}

.prd-price {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.edd-cart-added-alert {
    color: #32cd32;
    width: 100%;
}

/* -- Product Single Page Styles -- */

.single-prd-gallery .topimage {
    overflow: hidden;
}

.single-prd-gallery .topimage img {
    animation: fadeOne .2s ease-in;
}

.single-prd-gallery .topimage.blink img {
    animation: fadeTwo .2s ease-in;
}

.single-prd-gallery .single-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -5px 0;
}

.single-prd-gallery .single-gallery li {
    width: 75px;
    height: 70px;
    padding: 0 5px;
    overflow: hidden;
}

.single-prd-gallery .single-gallery img {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.single-prd-content .product-heading {
    font-size: 24px;
    margin-bottom: 15px;
}

.single-prd-content .prd-price {
    font-size: 28px;
    display: block;
}

.single-prd-content .col-description {
    margin-top: 22px;
}

.single-prd-content p,
.prd-description p {
    font-size: 15px;
}

.single-prd-content .edd_purchase_submit_wrapper a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 32px;
    background-color: #c3a165;
    color: #ffffff;
}

.single-prd-content .edd-cart-added-alert {
    font-size: 14px;
    font-weight: 500;
    background-color: #00c06a;
    color: #ffffff;
    width: auto;
    padding: 10px 32px;
    margin-top: 10px;
}

.single-download .edd_download_purchase_form {
    margin: 60px 0 0;
}

.prd-description {
    margin-top: 52px;
}

.prd-description h5 {
    font-size: 15px;
    display: inline-block;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #eeeeee;
    border-bottom: none;
    margin: 0;
}

.prd-description .paragraph {
    border-top: 1px solid #eeeeee;
    padding-top: 32px;
    margin-top: -1px;
}

.prd-description p {
    line-height: 2;
}


/* -- Footer Styles -- */

#footer {
    background-color: #222328;
    color: #737373;
    padding: 60px 0;
}

#footer .footer_content_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#footer .footer-nav {
    margin: 0;
}


.last-footer-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0;
    padding: 60px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#footer .last-footer-wraper .nav-link {
    font-size: 15px;
    text-transform: unset;
    color: #737373;
}

.last-footer-wraper .footer-last-nav {
    margin: 0;
}

.copyright {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

#footer .menu {
    margin: 0;
}

#footer .menu-item {
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: center;
    border: none;
    padding: 0;
}

#footer .menu-item:last-child {
    margin: 0;
}

#footer .nav-link {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    color: #ffffff;
}

/* -- Social Icons Styles -- */

.social-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.social-nav .nav-link,
#footer .social-nav .nav-link {
    font-size: 0;
    transition: .3s;
    padding: 0;
}

.social-nav .menu-item,
#footer .social-nav .menu-item {
    margin: 0 26px 0 0;
}

.social-nav a[href]:before {
    font-family: 'Font Awesome 5 Brands';
    content: "";
    font-size: 14px;
    font-weight: 900;
}

.social-nav a[href*="facebook.com"]:before {
    content: "\f39e";
}

.social-nav a[href*="twitter.com"]:before {
    content: "\f099";
}

.social-nav a[href*="instagram.com"]:before {
    content: "\f16d";
}

.social-nav a[href*="youtube.com"]:before {
    content: "\f167";
}

.social-nav a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

.social-nav a[href*="google.com"]:before {
    content: "\f0d5";
}

.social-nav a[href*="tumblr.com"]:before {
    content: "\f173";
}

.social-nav a[href*="pinterest.com"]:before {
    content: "\f231";
}

/* -- Easy Digital Download Styles -- */

.edd-checkout .card-body,
#edd_checkout_form_wrap fieldset,
.edd-success .card-body {
    border: none;
    padding: 0;
}

.edd-success .entry-content p:first-child {
    background-color: #4bb543;
    color: #ffffff;
    padding: 7px 15px;
}

#edd_checkout_cart {
    border: 1px solid #e0e1e7;
    margin-bottom: 32px;
}

#edd_checkout_cart tbody tr {
    border-bottom: 1px solid #e0e1e7;
}

#edd_checkout_cart td,
#edd_checkout_cart th {
    border: none;
}

#edd_checkout_cart .edd_cart_header_row th {
    font-weight: 500;
    background: #212121;
    color: #ffffff;
    border: 1px solid #212121;
    padding: 15px;
    text-transform: uppercase;
}

#edd_checkout_cart td {
    padding: 15px;
}

#edd_checkout_cart td.edd_cart_item_price {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.edd_cart_remove_item_btn {
    font-size: 14px;
    color: #c3a165;
}

.edd_cart_item_price {
    font-size: 14px;
    color: #45474d;
    font-weight: 700;
}

#edd_checkout_form_wrap .edd-payment-icons,
#edd_checkout_form_wrap fieldset,
#edd_purchase_receipt {
    margin-bottom: 32px;
}

#edd_checkout_form_wrap fieldset:last-child {
    margin-bottom: 0;
}

#edd_checkout_cart th.edd_cart_total {
    font-size: 16px;
    padding: 15px;
    color: #252525;
    letter-spacing: .5px;
}

#edd_checkout_user_info legend,
.edd-success .card-body h3 {
    font-size: 32px;
    font-weight: 800;
    color: #212529;
    text-transform: uppercase;
}

#edd_checkout_form_wrap label {
    display: none;
}

#edd_checkout_form_wrap span.edd-description {
    margin-bottom: 10px;
}

#edd_checkout_form_wrap input[type=email],
#edd_checkout_form_wrap input[type=password],
#edd_checkout_form_wrap input[type=tel],
#edd_checkout_form_wrap input[type=text] {
    border: 1px solid rgba(30, 30, 30, 0.07);
    padding: 12px 15px;
}

#edd_checkout_user_info p,
#edd_checkout_form_wrap fieldset p:last-child input {
    margin-bottom: 0;
}


#edd_checkout_form_wrap input {
    font-family: 'Montserrat', sans-serif;
}

#edd_checkout_form_wrap input::placeholder {
    text-transform: capitalize;
}

#edd_checkout_form_wrap #edd_final_total_wrap,
#edd_checkout_form_wrap #edd_final_total_wrap strong {
    font-size: 16px;
    font-weight: 700;
    color: #212529;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
}

#edd_checkout_form_wrap #edd_final_total_wrap .edd_cart_amount {
    font-size: 20px;
    margin-left: 8px;
}

#edd-purchase-button {
    display: block;
    border-radius: 0;
    padding: 15px 25px;
}

#edd_purchase_receipt tbody tr:last-child {
    border-top: 1px solid #e0e1e7;
}

#edd_purchase_receipt tbody tr:last-child,
#edd_purchase_receipt tbody tr:last-child strong {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
}

#edd_purchase_receipt th,
#edd_purchase_receipt_products th {
    color: #556378;
    font-weight: 600;
}

#edd_purchase_receipt td {
    padding: 10px 0;
}

#edd_purchase_receipt strong {
    font-weight: 500;
}

.edd-success .card-body {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    padding: 30px;
}

.edd-success .card-body .entry-content {
    margin: 0;
}

table#edd_purchase_receipt_products .edd_purchase_receipt_product_name,
#edd_purchase_receipt_products th {
    font-weight: 600;
}

table#edd_purchase_receipt_products li {
    margin: 0;
}

table#edd_purchase_receipt_products .edd_download_file {
    display: inline-block;
    margin-top: 15px;
}

.edd_download_file .edd_download_file_link {
    background-color: #4bb543;
    padding: 8px 15px;
    color: #ffffff;
    display: block;
    line-height: 1.5;
}

/* -- Other Pagges ( Search Page, 404 Page, Nothing Found) -- */

body.search .page-content .header-heading,
.error404 .page-content .header-heading {
    font-size: 42px;
    margin-bottom: 18px;
}

body.search #content {
    padding: 0;
}

body.search #content .container {
    max-width: 810px;
}

section.no-results {
    padding: 0;
}

body.search .luzdelaluna-search {
    margin-top: 20px;
}

body.search .page-header.pb-4 {
    display: none;
}

body.search .list-item {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    line-height: 1.7;
}

body.search .list-item a {
    color: #242424;
}

body.search-no-results input {
    margin: 0;
    border: 1px solid #eeeeee;
}

.error404 {
    color: #ffffff;
}

.error404 .page-content {
    padding: 175px 0;
}

.error404 #content {
    display: none;
}

/* -- Image Gallery Effect Keyframes -- */

@keyframes fadeOne {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeTwo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}