
@media (max-width: 1200px) {
    .main-navigation {
        padding: 26px 0;
    }

    #image_slider img {
        height: 750px;
    }
}

@media (max-width: 991px) {
    .section-heading {
        font-size: 52px;
        line-height: 1.2;
    }

    .page-content {
        padding: 52px 0;
    }

    .page-template-page-services #content {
        padding: 60px 0;
    }

    .header-heading {
        font-size: 52px;
    }

    #services .sub-heading {
        margin-bottom: 42px;
    }

    #services .row-wrap {
        padding: 15px;
        margin-bottom: 56px;
    }

    #services .col-content {
        padding: 15px 15px 15px 30px;
    }

    #services .col-right .col-content {
        padding: 15px 30px 15px 15px
    }

    #footer {
        text-align: center;
    }

    #footer .footer_content_wrap {
        justify-content: center;
    }

    #footer .column-center,
    #footer .navbar-brand {
        width: 100%;
        margin: 15px 0;
    }
}

@media (max-width: 767px) {
    .shopping-wrap {
        width: 100%;
        justify-content: flex-end;
    }

    #image_slider img {
        height: 450px;
    }

    .slide_caption .slider-heading {
        font-size: 42px;
    }

    .slide_caption span {
        font-size: 26px;
    }

    .slide_caption span.txt-above {
        top: -15px;
    }

    .slide_caption span.large {
        font-size: 42px;
    }

    .slide_caption .btn-uni {
        font-size: 12px;
        padding: 10px 18px;
        margin-left: 100px;
    }

    .slide_caption .btn-uni:before {
        width: 80px;
        left: -100px;
    }

    .section-about .container {
        max-width: 540px;
    }

    .section-about .column-right {
        margin-top: 60px;
    }
    
    .section-about figure,
    .section-about .column-right figure {
        margin: 0 0 30px;
    }

    .section-about .column-right .col-right {
        order: unset;
    }
}

@media (max-width: 576px) {
    .slide_caption {
        right: 15px;
        left: 15px;
    }

    .slider_indicator {
        right: 15px;
    }

    .slider_indicator a {
        height: 10px;
        width: 10px;
        margin-bottom: 6px;
    }

    section {
        padding: 50px 0;
    }

    .section-heading {
        font-size: 38px;
    }

    .content-wrap {
        padding: 0;
    }

    .rev-slide {
        margin-top: 24px;
    }

    .rev-slide p {
        font-size: 16px;
    }
    
    #footer {
        padding: 32px 0;
    }

    .copyright {
        font-size: 12px;
        margin: 30px 0 0;
        padding: 30px 0 0;
    }
    
}